<div class="top-row">
    <div>
        <a href="">preline-blazor-test</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" />

<div class="nav-scrollable" onclick="document.querySelector('input[type=checkbox]').click()">
    <nav>
        <div>
            <NavLink href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div>
            <NavLink href="counter">
                Counter
            </NavLink>
        </div>

        <div>
            <NavLink href="weather">
                Weather
            </NavLink>
        </div>
    </nav>
</div>

